/* begin: rc-time-picker popup selectors from default CSS */
.rc-time-picker-panel {
  z-index: 1070;
  width: 170px;
  position: absolute;
  box-sizing: border-box;

  top: 0;
  left: 0;
  width: 100%;
}
.rc-time-picker-panel * {
  box-sizing: border-box;
}
.rc-time-picker-panel-inner {
  position: relative;
  outline: none;
  list-style: none;
  font-size: 1rem;
  text-align: left;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 5px #ccc;
  background-clip: padding-box;
  border: 1px solid #ccc;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5em 1fr 5em;
  grid-gap: 0;
  width: 100%;
  /*
  @TODO: 85vh will make sure that the whole popup is visible in most of the
  phones. Probably we should use something like:
  https://stanko.github.io/mobile-chrome-vh-fix/
  */
  height: 85vh;
}
.rc-time-picker-panel-input {
  color: #4169e1;
  vertical-align: middle;
  text-align: center;
  font-size: 3em;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 1px solid transparent;
  cursor: auto;
}
.rc-time-picker-panel-input-wrap {
  height: 5em;
  line-height: 5em;
}
.rc-time-picker-panel-input-invalid {
  color: red;
}
.rc-time-picker-panel-select {
  float: left;
  font-size: 1.5em;
  border: 1px solid #e9e9e9;
  border-width: 0 1px;
  margin-left: -1px;
  box-sizing: border-box;
  width: 56px;
  max-height: 144px;
  overflow-y: auto;
  position: relative;
  width: 33.33%;
  max-height: 100%;
}
.rc-time-picker-panel-select-active {
  overflow-y: auto;
}
.rc-time-picker-panel-select:first-child {
  border-left: 0;
  margin-left: 0;
}
.rc-time-picker-panel-select:last-child {
  border-right: 0;
}
.rc-time-picker-panel-select ul {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}
.rc-time-picker-panel-select li {
  list-style: none;
  box-sizing: content-box;
  margin: 0;
  width: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 2em;
  line-height: 2em;
  text-align: center;
  padding: 0;
}
.rc-time-picker-panel-select li:hover {
  background: #dfe3ec;
}
li.rc-time-picker-panel-select-option-selected {
  background: #cdd6f3;
  color: #4169e1;
  font-weight: bold;
}
/* end: rc-time-picker popup selectors from default CSS */

.setup {
  font-size: 1rem;
}

.setup .input-container {
  display: none;
}

.setup .open-time-picker {
  font-size: 3.5em;
  width: 100%;
  background: none;
  border:none;
}

.time-picker-popup .rc-time-picker-panel-combobox {
  overflow-y: hidden;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  background: linear-gradient(to bottom, white, #f0f0f0);
}

.time-picker-popup .time-picker-popup-done {
  padding: 0.25em;
  font-size: 3em;
  width: 100%;
  border: 0;
  background: 0;
  outline: 0;
}
