.timer {
  display: grid;

  width: 100%;
  height: 80vh;

  grid-template-columns: 10px 1fr 1fr 10px ;
  grid-template-rows: 10px 7fr 1fr 10px ;
  grid-gap: 1rem;
}

.setup {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}
button.start {
  grid-row: 3 / 4;
  grid-column: 2 / 4;
  font-size: 2em;
}

.countdown {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}

button.toggle-pause {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  font-size: 2em;
}
button.reset {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  font-size: 2em;
}
